<?xml version="1.0"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <h:head>
    </h:head>

    <h:body>
        <h1>Edit Mode</h1>
        <br />

        <h:form>
            <p:dataTable var="author" value="#{library.authors}">
                <p:column headerText="Id">
                    <h:outputText value="#{author.id}"/>
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value="#{author.name}"/>
                </p:column>

                <p:column style="width: 32px;">
                    <p:rowEditor />
                </p:column>
            </p:dataTable>
            <br />
        </h:form>
    </h:body>

</f:view>
