<?xml version="1.0" encoding="UTF-8"?>

<f:view xmlns="http://www.w3.org/1999/xhtml"
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:f="http://java.sun.com/jsf/core"
        xmlns:h="http://java.sun.com/jsf/html"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:p="http://primefaces.org/ui">

    <h:head>
    </h:head>

    <h:body>
        <h:form id="AUTHOR_FORM">
            <strong>Portlet 2.0 API</strong>
            <h1><h:outputText value='User Full Name: #{library.principal.name}' /></h1>

            <c:if test='#{library.request.isUserInRole("library-manager")}'>
                <p:fieldset legend="Add New Author">
                    <p:panelGrid columns="2">
                        <p:inputText value="#{library.newAuthor.name}" placeholder="Name"/>
                        <p:commandButton value="Add" icon="fa fa-fw fa-plus" action="#{library.addAuthor()}"
                                         update=":AUTHOR_FORM:AUTHORS_LIST:"/>
                    </p:panelGrid>
                </p:fieldset>
            </c:if>

            <c:if test='#{library.request.isUserInRole("auditor")}'>
                <strong>Sorry, you can't add a new author because you are an Auditor !!!</strong>
            </c:if>

            <br/>

            <p:dataTable id="AUTHORS_LIST" var="author" value="#{library.authors}" sortBy="#{author.id}"
                         editable="true" paginator="true" rows="5">
                <f:facet name="header">
                    Authors List
                </f:facet>

                <p:column headerText="Id" sortBy="#{author.id}">
                    <h:outputText value="#{author.id}"/>
                </p:column>

                <p:column headerText="Name">
                    <p:cellEditor>
                        <f:facet name="output">
                            <h:outputText value="#{author.name}"/>
                        </f:facet>

                        <f:facet name="input">
                            <p:inputText id="nameInput" value="#{author.name}" style="width: 100%"/>
                        </f:facet>
                    </p:cellEditor>
                </p:column>

                <p:ajax event="rowEdit" listener="#{library.onRowEdit}"/>
                <p:ajax event="rowEditCancel" listener="#{library.onRowEditCancel}"/>
                <p:column style="width: 32px;">
                    <p:rowEditor />
                </p:column>

                <p:column style="width: 32px;">
                    <p:commandLink title="Delete">
                        <h:outputText value="" styleClass="ui-icon ui-icon-trash"/>
                        <f:ajax event="click" listener="#{library.onRowDelete(author)}"/>
                    </p:commandLink>
                </p:column>
            </p:dataTable>
        </h:form>

        <!--
        <iframe src="http://52.56.193.54:5601/app/kibana#/dashboard/b34f5130-0fb0-11e7-ad48-4b758d2f2f03?embed=true&amp;_g=(refreshInterval%3A(display%3A'5%20seconds'%2Cpause%3A!f%2Csection%3A1%2Cvalue%3A5000)%2Ctime%3A(from%3Anow-48h%2Fh%2Cmode%3Aquick%2Cto%3Anow))"
                height="600"
                width="100%"
                style="border: 0px;">
        </iframe>
        -->

        <hr/>

        <h:form id="PERSON_FORM">
            <p:fieldset legend="Add new person">
                <p:panelGrid columns="3">
                    <p:inputText value="#{library.newPerson.name}" placeholder="Name"/>
                    <p:inputText value="#{library.newPerson.age}" placeholder="Age"/>
                    <p:commandButton value="Add"
                                     icon="fa fa-fw fa-plus"
                                     action="#{library.addPerson()}"
                                     update=":PERSON_FORM:PERSONS_LIST:"/>
                </p:panelGrid>
            </p:fieldset>

            <br/>

            <p:dataTable id="PERSONS_LIST" var="person" value="#{library.persons}">
                <f:facet name="header">
                    Persons List
                </f:facet>

                <p:column headerText="Id">
                    <h:outputText value="#{person.id}"/>
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value="#{person.name}"/>
                </p:column>

                <p:column headerText="Age">
                    <h:outputText value="#{person.age}"/>
                </p:column>
            </p:dataTable>
        </h:form>

        <hr/>

        <h:form id="PERSON_SEARCH_FORM">
            <p:fieldset legend="Search for person">
                <p:panelGrid columns="2">
                    <p:inputText value="#{library.searchPersonName}" placeholder="Name">
                        <p:ajax event="keyup" listener="#{library.searchPersons}" update="PERSONS_SEARCH_RESULT_LIST"/>
                    </p:inputText>
                    <p:commandButton value="Search" icon="fa fa-fw fa-search" action="#{library.searchPersons}"
                                     update=":PERSON_SEARCH_FORM:PERSONS_SEARCH_RESULT_LIST:"/>
                </p:panelGrid>
            </p:fieldset>

            <br/>

            <p:dataTable id="PERSONS_SEARCH_RESULT_LIST" var="person" value="${library.searchPersonsResult}">
                <f:facet name="header">
                    Search Persons Result List
                </f:facet>

                <p:column headerText="ID">
                    <h:outputText value='#{person.id}'/>
                </p:column>

                <p:column headerText="Name">
                    <h:outputText value='#{person.name}'/>
                </p:column>

                <p:column headerText="Age">
                    <h:outputText value='#{person.age}'/>
                </p:column>
            </p:dataTable>
        </h:form>

    </h:body>

</f:view>
